.post {
	margin-top: 1rem;
}

.post > a {
	text-decoration: none;
}

.post__card {
	color: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #25282c;
	box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.4);
}

.post__cardHeader {
	margin-top: 0.3rem;
	padding: 0 1rem;
}

.post__cardHeader > h2 {
	margin-bottom: 0.2rem;
}

.date {
	font-size: small;
}

.post__cardFooter > p {
	line-height: 3.6;
}

.post__cardHeader .content {
	max-height: 120px;
	-webkit-line-clamp: 4;
}

.post__cardHeader .date {
	color: #686e78;
	margin-top: 0.5rem;
}

.post__cardBody {
	margin: 0.3rem 0;
}

.post__cardBody > img {
	width: 100%;
	border-radius: 1rem;
}

.post__cardFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.2rem;
}

.MuiSvgIcon-root {
	color: #a9abb3;
}

@media (max-width: 1000px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
	}
}

.posts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 1rem;
	}
}

@media (max-width: 800px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 2rem;
	}
}

@media (max-width: 600px) {
	.posts {
		grid-template-columns: 1fr;
		padding: 0 3rem;
	}
}
