.overview {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.name {
	font-size: 5rem;
}

.about {
	margin-top: 0.5rem;
}

.title {
	font-size: 3.5rem;
}

.tagline {
	margin-top: 0.5rem;
	font-size: 1.5rem;
	font-family: "Orbitron", sans-serif;
}

.intro {
	margin-top: 0.5rem;
	font-size: 1.5rem;
	font-family: "Exo", sans-serif;
}
